/* Fix for Dash Dropdown text color in Dark Themes */
.Select-control {
    background-color: #222 !important;
    border: 1px solid #444 !important;
    color: white !important;
}

.Select-value-label {
    color: white !important;
}

.Select-menu-outer {
    background-color: #222 !important;
    border: 1px solid #444 !important;
}

.Select-option {
    background-color: #222 !important;
    color: #ccc !important;
}

.Select-option:hover {
    background-color: #444 !important;
    color: white !important;
}

.Select-placeholder {
    color: #aaa !important;
}

/* Fix input text inside dropdown */
.Select-input > input {
    color: white !important;
}